body {
  background-color: white;
}

.rows {
  display: grid;
  grid-template-columns: repeat(auto);
  grid-template-rows: repeat(auto);
}

.piece {
  border-color: white;
  height: 70px;
  width: 70px;
}

button {
  font-weight: 900;
}